.row {margin: 0 !important;}

/* Side navigation styling */

.sidenav {
  position: fixed;
  height: 100%;
  background-color: #3b3b3b;
  padding: 0 !important;
}
.admin-logo {
  height: 20%;
  text-align: center;
}
.admin-list {
  width: 100%;
}
.admin-list .admin-list-item {
  padding: 25px 15px;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 1.1rem;
}
.admin-list .admin-list-item:hover {
  border-left: 5px solid #4584A4 !important;
  background-color: #333333 !important;
}
.admin-list .active {
  border-left: 5px solid #4584A4 !important;
  background-color: #333333 !important;
}
.admin-info {
  position: absolute;
  bottom: 5%;
  color: #FFFFFF;
  width: 100%;
}
.admin-user, .admin-logout {
  padding: 5px 40px;
}
.admin-logout a:hover {
  color: #4584a4;
}

/* Admin panel content styling */

.admin-panel-container {
  background-color: #F5F5F5;
}

.verifcation-list {
  padding-left: 5rem !important;
  padding-top: 1rem;
}
.panel-information {
  margin-bottom: 3rem;
}
.panel-information h1 {
  font-weight: bold;
  font-size: 4rem;
  color: #2e2e2e;
  margin-bottom: 1rem;
}

/* Table styling */

.verification-table-content {
  display: block;
   max-height: 600px;
   overflow-y: auto;
   -ms-overflow-style: -ms-autohiding-scrollbar;
}
.verification-table-list th {
  font-weight: bold;
  color: #c2c2c2;
}
.verification-table-list td {
  font-weight: 400;
}
.verification-table-list td i {
  color: #2e2e2e;
}
.fixed_headers {
  width: inherit;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
  min-width: 250px;
}
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
  min-width: 475px;
}
.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
  width: 150px;
}
.fixed_headers td:nth-child(4),
.fixed_headers th:nth-child(4) {
  width: 150px;
}
.fixed_headers thead tr {
  display: block;
  position: relative;
}
.fixed_headers tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 25REM;
}
.table thead th {
  border-bottom: none !important;
}

/* User status styling */

.user-active {
    height: 15px;
    width: 15px;
    background-color: #00C851;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}
.user-blocked {
    height: 15px;
    width: 15px;
    background-color: #ff4444;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.success-text {
  color: #00C851;
}
.danger-text {
  color: #ff4444;
}


/* Block auction page styling */

#unblockAuctionBtn {
  border: none;
  background: none;
}
