/*
  Styling for the navigation bar
 */

.navbar {
  background-color: #3D3D3D;
}

.nav a {
  color: #FFFFFF;
}

.nav .fa {
  color: white;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
  color: #4584A4;
  background: none;
}

.nav-search .waves-input-wrapper {
  display: inline !important;
}

.nav-search input {
  /* background-color: #4E4E4E; */
  border: none;
  font-size: 23px;
  color: #888888;
}

.nav-search input:focus {
  color: #888888;
}

.vl {
  border-left: 2px solid #4E4E4E;
  height: 40px;
  margin-left: 20px;
  margin-right: 10px;
}
