/*
  Custom styles for the whole website
*/

html, body {
  font-family: 'Montserrat', sans-serif;
}

nav a {
  font-size: 25px;
  color: #FFFFFF;
}

a:hover {
  color: #FFFFFF;
}

p {
  margin: 5px;
}

.rgba-niagara-strong {
  background-color: #4584a4b3 !important;
}

.niagara {
  color: #4584A4 !important;
}

.bg {
  position: fixed;
  background-position: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

.mdb-blue {
  background-color: #5484A4;
  height: 50px;
  border-radius: 0 0 5px 5px;
}

.mdb-blue a {
  color: #FFFFFF;
  font-size: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.list-inline-item p {
  margin: 2px;
}

.flex-1 {
  flex: 1;
}

.form-requirements {
  display: none;
}

input:focus + .form-requirements {
  display: block;
}

.elegant {
  background-color: #2e2e2e;
}

footer.page-footer a {
  color: #fff;
  font-size: 15px !important;
}

.banner-text {
  font-size: 5rem;
  font-weight: bold;
}

.mobileNav {
  display: none !important;
}

@media only screen and (max-width: 991px) {
  .banner-text {
    font-size: 4.5rem;
  }
  .mobileNav {
    display: block !important;
  }
}

@media only screen and (max-width: 650px) {
  .banner-text {
    font-size: 3rem;
  }
}
