/* Your custom styles */
html, body {font-family: 'Montserrat', sans-serif; height:auto;}
nav a {
  font-size: 25px;
  color: #FFFFFF;
}
a:hover {
  color: #FFFFFF;
}
p {
  margin: 5px;
}

.view-main-header {
  background-image: url("https://mdbootstrap.com/img/Photos/Slides/img%20(1).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg {
    position: fixed;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bg-home {
  background-image: url("https://mdbootstrap.com/img/Photos/Slides/img%20(1).jpg");
}
.bg-login {
  background-image: url("../img/bgs/login-bg.png");
}
.auction-card {
  margin: 20px 0;
}

.card-login {
  margin-top: 100px;
  background: #3333335e;
}

.navbar {
  background-color: #3D3D3D;
  /* position: fixed;
  width: 100%;
  z-index: 10; */
}

.nav a {
  color: #FFFFFF;
}
.nav .fa {
  color: white;
}

.mdb-blue {
  background-color: #5484A4;
  height: 50px;
  border-radius: 0 0 5px 5px;
}
.mdb-blue a {
  color: #FFFFFF;
  font-size: 25px;
  margin-top: auto;
  margin-bottom: auto;
}
.list-inline-item p {
  margin: 2px;
}

.flex-1 {
  flex: 1;
}

/*
  Index page styles
 */

.index-header {
  height: 300px;
  background: #4584A4;
  margin-top: 75px;
}

.banner-text{
  font-weight: bold;
    font-size: 5em;
    margin-bottom: 2px;
}

.index-banner {
  text-align: center;
  padding-top: 35px;
}
.index-banner h1 {
  font-weight: bold;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.banner-image{
  height: 30% !important;
}
.banner-image img {

}


/* Carousel styling */

.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control {
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right {
    margin-right: 40px;
    margin-left: 32px;
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
	  font-size: 29px !important;
}

.carousel-col {
    position: relative;
    min-height: 1px;
    padding: 5px;
    float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}

.block {
	width: 306px;
	height: 230px;
}

.red {background: red;}

.blue {background: blue;}

.green {background: green;}

.yellow {background: yellow;}




.veiling-bieden a:hover {
  color: #FFFFFF;
}

.small-font {
  font-size: 12px;
}

.card-body ul {
  margin: 0px;
}

.login-form-header {
  color: #fff;
    text-align: center;
    margin-top: -3.13rem;
    margin-bottom: 3rem;
    padding: 2rem;
    -webkit-border-radius: .125rem;
    border-radius: 5px;
    /* background: linear-gradient(40deg,#4584a4,#a5a5a5)!important; */
}

.login-logo {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  position: absolute;
  padding: 1.2rem 0 0 2rem;
}
.login-logo img {
  width: 50%;
}

.blur {
  filter: blur(5px);
  position: absolute;
  overflow: hidden;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}
.md-form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 10px 0;
}

.niagara{
  color: #4584A4 !important;
}

.elegant {
  background-color: #2e2e2e;
}

.login-register-card {
  background: #1313133b;
}

.materialFormRegisterConfirmEx {
  color: #c40000 !important;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
  color: #4584A4;
  background: none;
}

.nav-search .waves-input-wrapper {
  display: inline !important;
}

.nav-search input {
  /* background-color: #4E4E4E; */
  border: none;
  font-size: 23px;
  color: #888888;
}

.nav-search input:focus {
  color: #888888;
  /* background-color: #4E4E4E; */
}
.vl {
  border-left: 2px solid #4E4E4E;
  height: 40px;
  margin-left: 20px;
  margin-right: 10px;
}

#passwordHelp a {
  font-size: 80%;
  color: #ff2929;
}

input:focus:not([readonly]) + label {
  color: #4584A4 !important;
}

input:focus:not([readonly]) {
  border-bottom: 1px solid #4584A4 !important;
  box-shadow: 0 1px 0 0 #4584A4 !important; */
}


.register-select {
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #ced4da;
    outline: 0;
    height: 2.9rem;
    line-height: 2.9rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 .94rem 0;
    padding: 0;
    display: block;
    width: 95%;
}
 .register-select-form {
   border: none !important;
background: transparent !important;
width: 100% !important;
color: white !important;
 }




/* The Overlay (background) */
.overlay_rubrieken {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #4584A4; /* Black fallback color */
    background-color: #4584A4EE; /* Black w/opacity */
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay_rubrieken a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFFFFF;
    font-weight: bold;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay_rubrieken a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay_rubrieken .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay_rubrieken a {font-size: 20px}
    .overlay_rubrieken .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

.project-team {
  flex-direction: row;
  display: flex;

}

footer.page-footer a {
    color: #fff;
    font-size: 15px !important;
