/*
  Custom styles for the whole website
*/

/* This declares the font that's used across the whole website */
html, body {
  font-family: 'Montserrat', sans-serif;
}

nav a {
  font-size: 25px;
  color: #FFFFFF;
}

a:hover {
  color: #FFFFFF;
}

p {
  margin: 5px;
}

.rgba-niagara-strong {
  background-color: #4584a4b3 !important;
}

.niagara {
  color: #4584A4 !important;
}

.bg {
  position: fixed;
  background-position: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

.mdb-blue {
  background-color: #5484A4;
  height: 50px;
  border-radius: 0 0 5px 5px;
}

.mdb-blue a {
  color: #FFFFFF;
  font-size: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.list-inline-item p {
  margin: 2px;
}

.flex-1 {
  flex: 1;
}

.form-requirements {
  display: none;
}

input:focus + .form-requirements {
  display: block;
}

.elegant {
  background-color: #2e2e2e;
}

footer.page-footer a {
  color: #fff;
  font-size: 15px !important;
}

.banner-text {
  font-size: 5rem;
  font-weight: bold;
}

.mobileNav {
  display: none !important;
}

/* Notification boxes styling */

#toast-container>div {
  width: 400px !important;
  opacity: 1 !important;
  box-shadow: none !important;
}
/* .toast-info {
  background-color: #4584a4 !important;
}
.toast-success {
  background-color: #007E33 !important;
}
.toast-error {
  background-color: #CC0000 !important;
} */



/* This defines the min and max height of all the card images
   This needs to be changed when you want to make the website responsive again
*/

.card img{
  min-height: 15REM !important;
  max-height: 15REM !important;

}
/* When the screen becomes smaller than 991px in width these styles will be changed */
@media only screen and (max-width: 991px) {
  .banner-text {
    font-size: 4.5rem;
  }
  .mobileNav {
    display: block !important;
  }
}
/* When the screen becomes smaller than 650px in width these styles will be changed */
@media only screen and (max-width: 650px) {
  .banner-text {
    font-size: 3rem;
  }
}
